---
layout: default
---

{% for post in site.posts %}
{% if post.published %}
<div class="post-card mdl-card mdl-shadow--3dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    </div>
    <div class="mdl-card__supporting-text">
        <small>
            <i class="fa fa-calendar"></i>
            <time>
                {{ post.date | date:'%A, %B %d, %Y'}}
            </time>
        </small>
        {{post.excerpt}}
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <i class="fa fa-tag"></i>
        {% for tag in post.tags %}
        <a href="{{site.baseurl}}/tag/{{tag}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent">
            {{site.data.tags[tag]}}
        </a>
        {% endfor %}
    </div>
    <div class="mdl-card__menu">
        <a href="{{post.url | prepend: site.baseurl}}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">link</i>
        </a>
    </div>
</div>
{% endif %}
{% endfor %}